body {
    margin: 0;
    background-color: #000 !important;
}

* {
    box-sizing: border-box;
    font-family: fantasy;
    line-height: 1.2;
    color: #fff;
}

img {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

p {
    font-size: 1rem;
    margin-top: 0;
}

.container {
    max-width: 1170px;
    width: 80%;
    margin: 0 auto;
}

.block {
    padding-top: 6rem;
    padding-bottom: 6rem;
}



/* banner css */
.banner {
    height: 700px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom,
            transparent 0%,
            transparent 60%,
            rgba(0, 0, 0, 0.4) 80%,
            rgba(0, 0, 0, 1) 100%);
}